*{
  margin: 0px ;
  padding: 0px ;
  box-sizing: border-box;
}

body{
  background-image: url('sunrise.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

#background-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 8;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%
  width: 100%;
  position: fixed;
  display: none;
}

#error-div{
  position: absolute;
  width: 40%;
  height: 200px;
  max-width: 410px;
  min-width: 185px;
  min-height: 160px;
  display: block;
  left:0;
  right:0;
  margin: 300px auto;
  background-color: #FAD49C;
  border-radius: 10px;
  z-index: 10;
}

#error-msg{
  padding: 10%;
  text-align: center;
  font-size: 1.2em;
}

.btn{
  display: block !important;
  margin: 10px auto;
}

header{
  background-color: rgba(0, 0, 0, 0.20);
  align-content: center;
  position: relative;
}

#logo{
  width: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 20px;
}

#date{
  color: white;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

.top-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 8%;
}

.flex-item{
  margin: 50px auto;
}

.degrees-area{
  color: white;
  display: grid;
  row-gap: 2em;
  column-gap: 3em;
  grid-template-columns: 1fr 5fr;
  max-width: 550px;

}

#degrees{
  font-weight: 400;
  font-size: 4em;
  grid-area: 1/2/span 1/span 1;
}

.weather-icon{
  width: 50px;
  vertical-align: middle;
  grid-area: 2/1/span 1/span 1;
}

#weather-text{
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  grid-area: 2/2/span 1/span 1;
  min-width: 162px;
}

.cloud{
  width: 40%;
  max-width: 300px;
  min-width: 210px;
  align-self: center;
}

.diagram-area{
  color: white;
  position: absolute;
  z-index: 10;
  width: 50%;
  max-width: 540px;
  min-width: 355px;
  margin: 120px auto;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(255, 220, 165, 0.9);
  border-radius: 8px;
}

#diagram{
  display: none;
  width: 85%;
  margin: 6% auto 6% auto;
}

#close-diagram{
  float: right;
  margin-top: 2%;
  margin-right: 10px;
  display: none;
}

#close-diagram:hover{
  cursor: pointer;
}

.grid-container{
  width: 50%;
  max-width: 660px;
  font-family: Arial;
  display: grid;
  color: white;
  grid-template-columns: 0.8fr 45% 1.4fr 0.5fr;
  margin: 150px auto;
  align-items: center;
  column-gap: 2em;
  row-gap: 1.2em;
}

.grid-item{
  font-size: 1.2em;
}

.grid-icon{
  display: table-cell;
  height: 25px;
  vertical-align: middle;
}

.centered{
  justify-self: center;
  align-self: center;
}

.measurement{
  min-width: 200px;
}

.info-button{
  height: 25px;
  vertical-align: middle;
}

.info-button:hover{
  transform: scale(1.1);
}

#city{
  height: 40px;
  float: right;
  bottom: 0;
  color: white;
  font-weight: 300;
  margin-right: 15px;
}

@media screen  and (max-width: 900px) /* Tablet */ {


  .grid-container{
    width: 70%;
  }

  .diagram-area{
    margin-top: 200px;
  }

  #diagram{
    width: 85%;
  }

  #close-diagram{
    font-size: 1.4em;
  }
}

@media screen and (max-width: 750px)  {

  #logo{
    width: 65px;

  }

  #date{
    font-size: 2em;
  }

  .degrees-area{
    column-gap: 2em;
  }

  #degrees{
    font-size: 3em;
  }

  .weather-icon{
    width: 40px;
  }

  #weather-text{
    font-size: 1.5em;
  }

  .grid-container{
    margin-top: 140px;
  }

  #city{
    font-size: 1.5em;
  }
}


@media screen and (max-width: 600px) /* Mobile */ {

  #error-div{
    height: 16%;
    margin-top: 250px;
  }

  #error-msg{
      font-size: 1em;
  }

  .degrees-area{
    column-gap: 1em;
    text-align: center;
    column-gap: 0;
  }

  #weather-text{
    align: center;
  }

  .top-info{
    flex-direction: column;
    justify-content: center;
  }

  .flex-item{
    margin: 40px auto;
  }

  .grid-container{
    width: 70%;
    column-gap: 1.5em;
    margin: 100px auto;
    margin-top: 70px;
  }

  .grid-item{
    font-size: 1.1em;
  }

  .grid-icon{
    height: 20px;
  }

  .measurement{
    min-width: 200px;
  }

  #diagram{
    width: 90%;
  }
}

@media screen and (max-width: 550px) /* Mobile */ {
  .grid-container{
    width: 95%;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {

  .degrees-area{

  }

  #logo{
    width: 55px;
    margin-left: 15px;
  }

  #date{
    font-size: 1.7em;
    padding: 20px 0;
  }

  .grid-container{
    width: 90%;
    column-gap: 1em;
  }

  #diagram{
    width: 95%;
  }

  #city{
    font-size: 1.2em;
  }
}

@media screen and (max-width: 400px) /* Mobile */ {

  #logo{
    width: 48px;
    margin-left: 10px;
  }

  .flex-item{
    margin: 25px auto;
  }

  .cloud{
    margin: 30px auto;
  }

  .grid-container{
    margin-top: 30px;
    grid-template-columns: 0fr 45% 1.4fr 0.5fr;
    width: 99%;
  }

  .value{
    text-align: right;
  }

  .diagram-area{
    min-width: 300px;
    margin-top: 270px;
  }

  .grid-icon{
    width: 0px;
  }
  .info-button{
    height: 20px;
  }
}
