{% extends "base.html" %}

{% block content %}

  <div class="diagram-area">
    <h3 id="close-diagram">X</h3>
    <br>
    <img id="diagram" src="{{ url_for('static', filename='images/diagram.png') }}" alt="Diagram">
  </div>

  <div class="wrapper">

    <section class="top-info">
      <div class="degrees-area flex-item">
        <p id="degrees">{{measurement.temp | round(1)}}°C</p>
        <img class="weather-icon"  src="{{ url_for('static', filename='images/partlysunny.png') }}">
        <h4 id="weather-text">{{is_cloudy}}</h4>
      </div>
      {% if measurement.ill > 1700 %}
      <img class="cloud flex-item" src="{{ url_for('static', filename='images/sunny.png') }}">
      {% elif measurement.hum > 90 %}
      <img class="cloud flex-item" src="{{ url_for('static', filename='images/rain_2.png') }}">
      {% elif measurement.temp > 50 %}
      <img class="cloud flex-item" src="{{ url_for('static', filename='images/hot_2.png') }}">
      {% elif measurement.temp < 0 %}
      <img class="cloud flex-item" src="{{ url_for('static', filename='images/cold.png') }}">
      {% elif measurement.uv >= 3 %}
      <img class="cloud flex-item" src="{{ url_for('static', filename='images/uvi.png') }}">
      {% else %}
      <img class="cloud flex-item" src="{{ url_for('static', filename='images/quote.png') }}">
      {% endif %}


    </section>

    <div class="grid-container">
      <div class="grid-item centered"><img class="grid-icon" src="{{ url_for('static', filename='images/drop.png') }}"></div>
      <div class="grid-item measurement">Humidity:</div>
      <div class="grid-item value">{{measurement.hum | round | int}}%</div>
      <div class="grid-item grid-icon"></div>
      <div class="grid-item centered"><img class="grid-icon" src="{{ url_for('static', filename='images/light.png') }}"></div>
      <div class="grid-item measurement">Light intensity:</div>
      <div class="grid-item value" id="ill">{{measurement.ill | round | int}} lux</div>
      <div class="grid-item grid-icon"></div>

      <div class="grid-item centered"><img class="grid-icon" src="{{ url_for('static', filename='images/air.png') }}"></div>
      <div class="grid-item measurement">Athmospheric pressure: </div>
      <div class="grid-item value">{{measurement.pres | round | int}} kPa</div>
      <div class="grid-item grid-icon"></div>
      <div class="grid-item centered"><img class="grid-icon" src="{{ url_for('static', filename='images/uv.png') }}"></div>
      <div class="grid-item measurement">UV index:</div>
      <div class="grid-item value">{{measurement.uv | round | int}}</div>
      <div class="grid-item centered"><img class="info-button" id="info-button" src="{{ url_for('static', filename='images/info.png') }}" ></div>
    </div>
  </div>

{% endblock %}